@import "tailwindcss";

@import "tailwindcss";


.tarjeta {
  background: linear-gradient(135deg, #ffffff, #dcc7ee);
  border: 1px solid #d1d9ff;
  border-radius: 12px;
  padding: 24px;
  max-width: 320px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 50, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 50, 0.15);
}

.tarjeta h1 {
  color: #8d3971;
  font-size: 1.2rem;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 10px;
}

.tarjeta h2 {
  color: #966177;
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.tarjeta p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 18px;
  line-height: 1.4;
}

.boton {
  background-color: #c494f1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
  background-color: #b65aae;
  transform: scale(1.05);
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
